#pink--contact--us--main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form {
  background-color: #ecdede;
  padding: 10px;
  border-radius: 10px;
  height: 85%;
}

.contact-form label {
  color: black;
}

.contact-form .pink--contact--us--heading {
  font-size: 16px;
  color: black;
  margin-bottom: 2px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 2px;
  font-size: 12px;
}

textarea {
  resize: none;
  height: 15px;
  width: 200px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 2px;
  box-shadow: 0 0 5px #ff6384;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #382acc;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
  background-color: #ff6384;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .contact-form {
    background-color: #ecdede;
    padding: 20px;
    border-radius: 10px;
    height: auto;
  }
  .contact-form .pink--contact--us--heading {
    font-size: 30px;
    color: black;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
    text-align: center;
  }
  textarea {
    resize: none;
    height: 80px;
    width: 200px;
  }
  .contact-form label {
    margin-bottom: 7px;
    font-size: 24px;
  }
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #ff6384;
  }
}
